body {
  font-family: 'Open sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.navbar a,
.sec-about p {
  text-align: center;
}

.navbar a {
  font-size: 16px;
}

a, .sec-contact .btn {
  -webkit-transition: all .25s;
  transition: all .25s;
}

.main-heading {
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  text-align: center;
  letter-spacing: 9px;
  text-transform: uppercase;
}

.container > h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.sec-about a {
  text-decoration: underline;
}

.sec-contact .btn {
  text-transform: uppercase;
}

.soc-media-ul a {
  text-align: center;
  text-decoration: none;
}

section {
  padding: 5em 0;
}

footer {
  padding: 3em 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

hr {
  margin-bottom: 3em;
  width: 7%;
}

/* Language Switcher */

.language {
  display: inline-block;
  float: right;
  margin: 0;
  padding: 0;
  padding-right: 5%;
}

.language li {
  display: inline-block;
  border-right: 1px solid #fff;
  float: left;
}

.language li:last-child {
  border-right: none;
}

.language li a {
  padding: 3px 5px;
  color: #fff;
  transition: all 0.5s ease;
  text-decoration: none;
  display: inline-block;
  height: 100%;
  min-width: 40px;
  text-align: center;
}

.language li a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.language li a.is-active {
  opacity: 0.7;
}

.center-block {
    width: 270px;
    height: 300px;
    object-fit: cover;
}

.row h4 {
    text-align: center;
    margin-bottom: 20px;
}

.info {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.info li {
  display: inline-block;
  border-right: 1px solid #fff;
  float: left;
}

.info li:last-child {
  border-right: none;
}
.info li a {
  padding: 3px 5px;
  color: #3498db;
  transition: all 0.5s ease;
  text-decoration: none;
  display: inline-block;
  height: 100%;
  min-width: 40px;
  text-align: center;
}
.info li a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.sec-work .row {
  margin-bottom: 3em;
}

.sec-work {
  background: #f9f9f9;
}

.navbar-default {
  background: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ad0000;
}

.navbar-default .navbar-nav > li > a:active {
  color: #940000;
}

.sec-main {
  position: relative;
  height: 560px;
  background: url(../images/work_desk.jpg) no-repeat center center;
  background-size: cover;
}

.main-heading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  margin: auto;
  height: 40px;
  color: #fff;
}

.sec-about a {
  color: #000;
}
.sec-about a:hover, .sec-about a:focus {
  color: #ad0000;
}

.sec-contact .form-control:focus {
  border-color: #ad0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(173, 0, 0, 0.6);
}

.sec-contact .btn {
  background: #000;
  color: #fff;
}
.sec-contact .btn:hover, .sec-contact .btn:focus {
  background: #ad0000;
  border-color: #7a0000;
}

footer {
  background: #000;
}

.soc-media-ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.soc-media-ul li:not(:first-child) a {
  margin-left: 1em;
}

.soc-media-ul a {
  padding: 0.35em 0;
  width: 1.85em;
  color: #fff;
  border-radius: 50%;
  border: 2px solid;
}

.soc-media-ul a:hover, .soc-media-ul a:focus {
  color: #ad0000;
}



@media screen and (max-width: 768px) and (min-width: 485px) {
  form {
    max-width: 70%;
  }
}